{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                },
                "debug": true
            }
        ]
    ],
    "plugins": [],
    "env": {
        "development": {
            "sourceMaps": true,
            "retainLines": true
        }
    }
}
